/* ============ only min width | Omonjon ============ */
@media (min-width: 768px) {
    .border-md-none {
        border: none !important;
    }

    .photos-section {
        .gallery-item:hover {
            transform: scale(1.1);
        }
    }
}

@media (min-width: 992px) {
    .photos-self-h-small {
        height: 251px;
    }

    .photos-self-h-big {
        height: 420px;
    }
}

@media (min-width: 1200px) {
    .photos-section {
        .photos-num {
            top: 105px;
            left: 88px;
        }
    }

    .photos-self-h-small {
        height: 300px;
    }

    .photos-self-h-big {
        height: 500px;
    }
}

/* ============ only max width | Omonjon ============ */
@media (max-width: 1399px) {

}

@media (max-width: 1199px) {
    .suits-section {
        .suits-pattern {
            max-width: 450px;
            height: 350px;
        }
    }

    .photos-section {
        .photos-num {
            top: 80px;
            left: 70px;
        }
    }
}

@media (max-width: 991px) {
    .suits-section {
        .suits-pattern {
            max-width: 494px;
            height: 366px;
        }
    }

    .photos-section {
        .photos-num {
            top: 160px;
            left: 120px;
        }
        .row.row-gap-4 {
            img {
                height: 100%;
            }
        }
    }
}

@media (max-width: 767px) {
    .photos-section {
        .photos-num {
            top: 250px;
            left: 215px;
        }
    }

    .contact-form {
        padding-bottom: 50px;

        form {
            grid-template-columns: repeat(1, 1fr);

            button {
                width: 100%;
            }
        }
    }

    .w-100Mb {
        width: 100% !important;
    }
}

@media (max-width: 575px) {
    .left-img-pattern {
        max-width: 272px;
        width: 100%;
        height: 339px;
        left: -17px;
        top: -17px;
        right: initial;
    }

    .left-img-rectangle {
        max-width: 272px;
        width: 100%;
    }

    .left-img-circle {
        right: -45px;
        top: 120px;
        left: initial;
        max-width: 105px;
    }

    .about-section {
        .half-bg {
            height: 800px;
        }
    }

    .right-img-pattern {
        max-width: 272px;
        width: 100%;
        height: 339px;
        left: -17px;
        top: -17px;
        right: initial;
    }

    .right-img-rectangle {
        max-width: 272px;
        width: 100%;
    }

    .right-img-circle {
        right: -45px;
        top: 120px;
        left: initial;
        max-width: 105px;
    }

    .about-section-home {
        padding: 50px 0;

        .half-bg {
            height: 870px;
        }
    }

    .rectangle-img {
        max-width: 335px;
    }

    .rectangle-pattern {
        max-width: 315px;
        height: 227px;
        left: 34px;
        top: 16px;
    }

    .scroll_up {
        right: 1.5rem;
    }

    .photos-section {
        .photos-num {
            top: 45%;
            left: 45%;
        }
    }

    .contact-section {
        .half-bg {
            height: 871px;
        }

        .location-pattern {
            height: 343px;
        }

        iframe {
            height: 364px;
        }
    }

    .slimming-page {
        .header {
            height: 800px;
        }
    }

    .modal-img {
        #prev-btn {
            left: 10px;
        }

        #next-btn {
            right: 10px;
        }
    }
}

@media (max-width: 450px) {
    .rectangle-img {
        max-width: 325px;
    }

    .rectangle-pattern {
        max-width: 306px;
        height: 227px;
        left: 36px;
        top: 18px;
    }

    .header-home {
        height: 700px;
    }
}